.show-patient {
  &> .well, &> .panel {
    margin-bottom: 0;
    border-radius: 0;
  }

  &> .panel {
    padding: 5px 10px;

    &> div {
      margin-bottom: 10px;
    }
  }

  .patient-information {
    padding: 0;

    table {
      margin-bottom: 0;

      td {
        vertical-align: bottom;

        &> div {
          margin-bottom: 10px;
        }
      }
    }
  }

  .title {
    font-weight: 600;
  }
}

@media print {
  .hide-on-print {
    display: none;
  }
}